apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  POSTGRES_USER: "INSERISCI_QUI_UTENTE"
  POSTGRES_PASSWORD: "INSERISCI_QUI_PASSWORD"
  POSTGRES_DB: "INSERISCI_QUI_NOME_DB"